# 1. Title, Name and References

## MLMaverick Team

#### Seulah Lee 300361747
#### David Steven Salazar Villegas 300356922
#### Ishwinder Singh 300351938

### 2.  Importing pandas libraries and csv file for further operations

In [28]:
import pandas as pd
df = pd.read_csv('bank-sampled-9k.csv',index_col=0)
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
11,29,admin.,single,secondary,no,390,yes,no,unknown,5,may,137,1,-1,0,unknown,no
12,53,technician,married,secondary,no,6,yes,no,unknown,5,may,517,1,-1,0,unknown,no
17,57,blue-collar,married,primary,no,52,yes,no,unknown,5,may,38,1,-1,0,unknown,no

### Making a copy of original dataframe to keep original data safe.

In [29]:
df_cleaned = df.copy()

### 3. Dropping duration column and merging data of `date` and `day` columns into `last_contact`

In [31]:
df_cleaned.drop('duration',axis=1,inplace=True)

from datetime import datetime as dt

last_date = "18 Nov, 2010"
dt_1 = dt.strptime(last_date, "%d %b, %Y")

df_cleaned['month'] = df_cleaned['month'].apply(lambda x: x.capitalize())
df_cleaned['date'] = df_cleaned['day'].astype(str) + " " + df_cleaned['month'] + ", 2010"

df_cleaned['last_contact'] = df_cleaned['date'].apply(lambda x: (dt_1 - dt.strptime(x, "%d %b, %Y")).days)

df_cleaned.drop(columns=['day', 'date', 'month'], axis=1, inplace=True)

df.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
11,29,admin.,single,secondary,no,390,yes,no,unknown,5,may,137,1,-1,0,unknown,no
12,53,technician,married,secondary,no,6,yes,no,unknown,5,may,517,1,-1,0,unknown,no
17,57,blue-collar,married,primary,no,52,yes,no,unknown,5,may,38,1,-1,0,unknown,no
18,60,retired,married,primary,no,60,yes,no,unknown,5,may,219,1,-1,0,unknown,no
24,40,retired,married,primary,no,0,yes,yes,unknown,5,may,181,1,-1,0,unknown,no
38,36,admin.,divorced,secondary,no,506,yes,no,unknown,5,may,577,1,-1,0,unknown,no
40,44,services,divorced,secondary,no,2586,yes,no,unknown,5,may,160,1,-1,0,unknown,no
50,54,blue-collar,married,secondary,no,1291,yes,no,unknown,5,may,266,1,-1,0,unknown,no

### Display the summary statistics of the dataset

In [15]:
df_cleaned.describe()

,Unnamed: 0,age,balance,campaign,pdays,previous,last_contact
count,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000
mean,22552.799889,41.035667,1372.970222,2.767667,39.906444,0.609556,150.289000
std,13076.016479,10.561698,3363.690197,3.011022,99.440498,3.499115,74.721977
min,0.000000,18.000000,-4057.000000,1.000000,-1.000000,0.000000,-42.000000
25%,11247.000000,33.000000,68.000000,1.000000,-1.000000,0.000000,104.000000
50%,22556.000000,39.000000,450.000000,2.000000,-1.000000,0.000000,166.000000
75%,33941.250000,48.000000,1453.250000,3.000000,-1.000000,0.000000,193.000000
max,45207.000000,90.000000,102127.000000,51.000000,831.000000,275.000000,316.000000

In [6]:
df_cleaned.dtypes

Unnamed: 0       int64
age              int64
job             object
marital         object
education       object
default         object
balance          int64
housing         object
loan            object
contact         object
campaign         int64
pdays            int64
previous         int64
poutcome        object
y               object
last_contact     int64
dtype: object

### Dummy variable creation for categorical columns

- Used a new variable prefix to store the column name and used a for loop to iterate over all the object datatypes
- After that appended each of dummy variable to the prefix. used a valid name for each column 
- changed any appearance of hypen ‘-‘ with underscore ‘_’

In [5]:
categorical_columns = df_cleaned.select_dtypes('object').columns

for column in categorical_columns:
    prefix = column + '_'
    dummies = pd.get_dummies(df_cleaned[column], prefix=prefix, drop_first=True)
    dummies.columns = dummies.columns.map(lambda x: x.replace('-', '_'))
    df_cleaned = pd.concat([df_cleaned, dummies], axis=1)
    df_cleaned.drop(column, axis=1, inplace=True)

print(df_cleaned)

      Unnamed: 0  age  balance  campaign  pdays  previous  last_contact  \
0              0   58     2143         1     -1         0           197
1              2   33        2         1     -1         0           197
2             11   29      390         1     -1         0           197
3             12   53        6         1     -1         0           197
4             17   57       52         1     -1         0           197
...          ...  ...      ...       ...    ...       ...           ...
8995       45199   34     1475         3    530        12             2
8996       45201   53      583         1    184         4             1
8997       45204   73     2850         1     40         8             1
8998       45206   51      825         3     -1         0             1
8999       45207   71     1729         2     -1         0             1

      job__blue_collar  job__entrepreneur  job__housemaid  ...  \
0                False              False           False  ...
1                False               True           False  ...
2                False              False           False  ...
3                False              False           False  ...
4                 True              False           False  ...
...                ...                ...             ...  ...
8995              True              False           False  ...
8996             False              False           False  ...
8997             False              False           False  ...
8998             False              False           False  ...
8999             False              False           False  ...

      education__unknown  default__yes  housing__yes  loan__yes  \
0                  False         False          True      False
1                  False         False          True       True
2                  False         False          True      False
3                  False         False          True      False
4                  False         False          True      False
...                  ...           ...           ...        ...
8995               False         False          True      False
8996               False         False         False      False
8997               False         False         False      False
8998               False         False         False      False
8999               False         False         False      False

      contact__telephone  contact__unknown  poutcome__other  \
0                  False              True            False
1                  False              True            False
2                  False              True            False
3                  False              True            False
4                  False              True            False
...                  ...               ...              ...
8995               False             False             True
8996               False             False            False
8997               False             False            False
8998               False             False            False
8999               False             False            False

      poutcome__success  poutcome__unknown  y__yes
0                 False               True   False
1                 False               True   False
2                 False               True   False
3                 False               True   False
4                 False               True   False
...                 ...                ...     ...
8995              False              False   False
8996               True              False    True
8997              False              False    True
8998              False               True    True
8999              False               True    True

[9000 rows x 32 columns]

In [6]:
df_cleaned.shape

(9000, 32)