# Load the dataset
### Create a cleaned copy of the DataFrame

In [5]:
import pandas as pd


df = pd.read_csv('bank-sampled-9K.csv',index_col=0)
df_cleaned = df.copy() 
df_cleaned.head()

    age           job  marital  education default  balance  ... duration campaign pdays  previous poutcome   y
0    58    management  married   tertiary      no     2143  ...      261        1    -1         0  unknown  no
2    33  entrepreneur  married  secondary      no        2  ...       76        1    -1         0  unknown  no
11   29        admin.   single  secondary      no      390  ...      137        1    -1         0  unknown  no
12   53    technician  married  secondary      no        6  ...      517        1    -1         0  unknown  no
17   57   blue-collar  married    primary      no       52  ...       38        1    -1         0  unknown  no

[5 rows x 17 columns]